.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv
.env
.venv
node_modules/
.docker-compose.yml.swp
dns-scanner.service

# Database
app/*.db

# Python
venv/
.venv/
__pycache__/
